MedEnv/
app/__pycache__
**/__pycache__/
*.py[cod]
.env
mlruns/.trash
Med123/

data_pipeline/secrets
data_pipeline/logs/*
data_pipeline/.DS_Store
logs/app.log
/data_pipeline/data
.dvc/tmp
.dvc/cache
*.dvc
datasets
processed_data
rag

saved_models/med42_model/*
